body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://cdn.pixabay.com/photo/2022/04/02/05/50/pet-7106365_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

h1 {
    color: white;
    text-shadow: black;
    text-align: center;
    font-weight: 600;
    text-shadow: rgb(0, 0, 0) 1px 0 3px;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    height: 350px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"],
.login-container input[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.login-container input[type="submit"]:hover,
.login-container input[type="button"]:hover {
    background-color: #45a049;
}

#register-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 13px;
}

#register-button:hover {
    background-color: #45a049;
}

.login-success-container {
    width: 400px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#success-message {
    text-align: center;
    font-size: 20px;
}


#register-button-logged-in,
#logout-button {
    width: 300px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}